$pramary-font-face: 'Pretendard', Sans-serif;
$pramary-font-color: #101010;
$pramary-font-size: 20px;
$pramary-font-weight: 400;
$pramary-bg-color: #fff;
$theme-main-color: #bd9b6a;
$screen-desktop: 1280px;
$screen-tablet: 1024px;
$screen-mobile: 768px;